body {
  background-color: #121212; 
  color: rgb(255, 255, 255);             
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
}

/* Contenedor de botones */

.button-row {
  display: flex;              
  flex-direction: row;        
  justify-content: center;    
  align-items: center;       
  gap: 20px;                  
  margin-top: 50px;
  flex-wrap: nowrap;         
}

.button-row button,
.button-row .slice {
  min-width: 160px;  
  min-height: 55px;   
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
}

/* Hover basico */

.btn1 {
  appearance: none;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0.8em 2em;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.btn1:hover {
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn1:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Desliz */

.btn2 {
  display: inline-block;
  padding: 0.8em 2em;
  font-weight: 700;
  color: white;
  border: 3px solid rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.btn2::before {
  content: "";
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgb(88, 80, 80);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}

.btn2:hover::before {
  transform: translateX(0);
}

/* Cortina */

.btn3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.8em 2em;
  border: 3px solid rgb(255, 255, 255);
  color: #ffffff;
  border-radius: 8px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease all;
  z-index: 1;
}

.btn3:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0; left: 50%; right: 50%; bottom: 0;
  opacity: 0;
  content: '';
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.btn3:hover, .btn3:focus {
  color: rgb(0, 0, 0);
}

.btn3:hover:before, .btn3:focus:before {
  left: 0; right: 0;
  opacity: 1;
}

.btn3:active {
  transform: scale(0.95);
}

/* Cruce vertical */

.slice {
  --c1: #000000;
  --c2: #ffffff;
  font-size: 16px;
  padding: 0.8em 2em;
  background-color: transparent;
  border: 3px solid var(--c2);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.slice > .text {
  font-weight: 700;
  color: var(--c2);
  position: relative;
  z-index: 1;
  transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
}

.slice::after {
  content: "";
  width: 0;
  height: calc(300% + 1em);
  position: absolute;
  translate: -50% -50%;
  inset: 50%;
  rotate: 30deg;
  background-color: var(--c2);
  transition: 1000ms cubic-bezier(0.83, 0, 0.17, 1);
}

.slice:hover > .text {
  color: var(--c1);
}

.slice:hover::after {
  width: calc(120% + 1em);
}

.slice:active {
  scale: 0.95;
  filter: brightness(0.9);
}

/* SVG Cortina Circular */

.btn-download {
  background: transparent;
  position: relative;
  padding: 0.8em 1.5em;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
  overflow: hidden;
  text-align: center;
  gap: 10px;
}


.btn-download::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  left: -5em;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.btn-download:hover {
  color: #fff;
  border-color: rgb(255, 255, 255);
}

.btn-download:hover::before {
  box-shadow: inset 0 0 0 10em rgb(37, 36, 37);
}

/* Contenedor 2 */

.button-row-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

/* Colores Varios*/

.button-row-rounded button {
  border-radius: 99rem;             
  padding: 0.8rem 3rem;              
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn {
  width: 170px;
  height: 60px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  box-shadow: inset 0 0 0 4px #ffffff, 
              inset 0 0 0 8px #000000, 
              inset 0 0 0 12px #ffffff,
              inset 0 0 0 16px #000000;
  background: #ffffff;
  color: #0c0000;
}

/* Corte */

.btn-corte {
  background: #000;
  color: #fff;
  border: 2px solid #fff;
}

.btn-corte .text-container {
  display: block;
  position: relative;
  mix-blend-mode: difference; 
  overflow: hidden;
}

.btn-corte .text {
  display: block;
  position: relative;
}

.btn-corte:hover .text {
  animation: move-up-alternate 0.3s forwards;
}

.btn-corte:before,
.btn-corte:after {
  --skew: 0.2;
  content: "";
  position: absolute;
  width: 100%;
  height: 102%;
  background: #fff;
  top: -104%;
  left: calc(-50% - 50% * var(--skew));
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  pointer-events: none;
}

.btn-corte:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-corte:hover:before {
  --progress: 100%;
}

.btn-corte:hover:after {
  --progress: -102%;
}

/* Aparecen letras */

.btn-mov {
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 99rem;
  padding: 0.8rem 3rem;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 0;
}

.btn-mov .original {
  background: #fff;
  color: #000;
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  font-weight: 900;
}

.btn-mov:hover .original {
  transform: translateY(100%);
}

.btn-mov .letras {
  display: inline-flex;
  gap: 1px;
}

.btn-mov .letras span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-mov .letras span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-mov:hover .letras span {
  opacity: 1;
  transform: translateY(0);
}

.btn-mov:hover .letras span:nth-child(2) { transition-delay: 0.1s; }
.btn-mov:hover .letras span:nth-child(3) { transition-delay: 0.2s; }
.btn-mov:hover .letras span:nth-child(4) { transition-delay: 0.3s; }
.btn-mov:hover .letras span:nth-child(5) { transition-delay: 0.4s; }
.btn-mov:hover .letras span:nth-child(6) { transition-delay: 0.5s; }
.btn-mov:hover .letras span:nth-child(7) { transition-delay: 0.6s; }
.btn-mov:hover .letras span:nth-child(8) { transition-delay: 0.7s; }
.btn-mov:hover .letras span:nth-child(9) { transition-delay: 0.8s; }
.btn-mov:hover .letras span:nth-child(10){ transition-delay: 0.9s; }

/* SVG y cambio de color */

.button-svg {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 99rem;
  cursor: pointer;
  background-color: #000; 
  color: #fff;         
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.button__icon-wrapper {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #fff; 
  color: #000;          
  flex-shrink: 0;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button__icon-svg {
  width: 10px;
  height: 10px;
  display: block;
}

.button-svg:hover {
  background-color: #fff; 
  color: #000;            
}

.button-svg:hover .button__icon-wrapper {
  background-color: #000; 
  color: #fff;    
  transform: rotate(20deg);
}

/* Contenedor 3 */

.button-row-milimalista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;      
  margin-top: 50px;
  flex-wrap: nowrap;
}


/* Expansible */

.Btn-exp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(0, 0, 0); 
}

.Btn-exp .sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Btn-exp .sign svg {
  width: 17px;
}

.Btn-exp .sign svg path {
  fill: white; 
}

.Btn-exp .text-exp {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white; 
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn-exp:hover {
  width: 145px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn-exp:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: -10px;
}

.Btn-exp:hover .text-exp {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn-exp:active {
  transform: translate(2px ,2px);
}


/* Se titula el boton */

.btn-2 {
  --primary-color: #ffffff;
  --hovered-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.btn-2 div {
  position: relative;
  color: var(--primary-color);
}

.btn-2::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.btn-2 div::before {
  content: attr(data-text);  
  position: absolute;
  inset: 0;
  width: 0%;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}


.btn-2:hover::after {
  width: 100%;
}

.btn-2:hover div::before {
  width: 100%;
}

.btn-2 svg {
  width: 15px;
  color: var(--primary-color);
  transition: transform 0.2s, color 0.2s;
  transition-delay: 0.2s;
}

.btn-2:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

/* Espaciado */

.btn-3 {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.btn-3::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  margin-right: 10px;
  background: #ffffff;
  transition: width .42s cubic-bezier(.25,.8,.25,1);
}

.btn-3:hover::before {
  width: 3rem;
}

/* SVG Mov. Leve */

.btn-4 {
  cursor: pointer;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 100px;
  background: #ffffff;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  transition: all 0.2s;
}

.btn-4:hover {
  background: #ffffff;
}

.btn-4 svg {
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.btn-4:hover svg {
  transform: translateX(5px);
}

.btn-4:active {
  transform: scale(0.95);
}
